body
{
	background-image: url(../images/Sand-background.jpg);
	background-size:100%
}

td
{
	color: black;
}

th
{
	color: black;
}

#slideshow
{
 padding-bottom:10px;
 padding-top:10px;
}

#Banner
{
	height:150px;
	padding-bottom:10px;
	padding-top:10px;
}


#menu a:hover
{
	font-size:18px;
	color: Black;
}

#menu a:visited
{
	font-size:18px;
	color: Black;
}
#menu a:link
{
	font-size:18px;
	color: Black;
}

#menu a:active
{
	font-size:18px;
	color: black;
}

.my-dropdown-right
{
	background-image: url(../images/Papyrus2.jpg);
	top: 0;
  left: 100%;
}
.bg-danger
{
	color:#000000;
}
.bg-info
{
	color:#000000;
}
.layout-item
{
	background-image: url(../images/Papyrus2.jpg);
	color:black;
	border-top:solid;
	border-left:solid;
	border-right:solid;
	border-bottom:solid;
	border-color:black;
	border-width: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.content
{
	height:100%;
}

#footer
{
	background-color:black;
	height:200px;
	color: #000000
}

/*BOOTSTRAP CUSTOMIZATION*/
.panel-menu
{
	border-color:#000000;
}
.panel-menu>.panel-heading
{
	color:black;
	background-color:#000000;
	border-color:#000000;
}
.panel-menu>.panel-heading+.panel-collapse>.panel-body
{
	border-top-color:#000000;
}
.panel-menu>.panel-heading .badge
{
	color:#000000;
	background-color:#000000;
}
.panel-menu>.panel-footer+.panel-collapse>.panel-body
{
	border-bottom-color:#000000;
}

.list-group-item-black
{
	color:Black;
	background-color:#000000;
}

a.list-group-item-black,button.list-group-item-black
{
	color:#000000;
}
a.list-group-item-black .list-group-item-heading,button.list-group-item-black .list-group-item-heading
{
	color:black;
}
a.list-group-item-black:focus,a.list-group-item-black:hover,button.list-group-item-black:focus,button.list-group-item-black:hover
{
	color:Black;
}
a.list-group-item-black.active,a.list-group-item-black.active:focus,a.list-group-item-black.active:hover,button.list-group-item-black.active,button.list-group-item-black.active:focus,button.list-group-item-black.active:hover
{
	color:Black;
	border-color:#000000;
}

#pills-custom a{
	color:black;
	background-color:light-grey;
	}

#pills-custom.dropdown-menu li{
	background-color:white;
}